set autoprint ask dot append nosave crt=25 headername autosign

set news-server=news@hq.demos.su

headline Message-ID <$i@$h>
headline Organization "*** FooBar Company ***"
headline From $u@$h ($r)
headline Date $a

discard -from message-id status references received organization
discard resent-message-id resent-organization
