BEGIN{  printf "cat /dev/null>\#$$.src\ncat /dev/null>\#$$.m\ncat /dev/null>\#$$.local\n";
}
/^$/{ next }
/^#[?]/{printf "if [ $inter -eq 1 ]\nthen\n\techo \"";
	for( i=2 ; i<=NF ; i++ )
		printf "%s ",$i;
	print "\"\nfi";
}
/^#/{   printf "echo \"%s\">>\#$$.src\n",$0;
	next;
}
{       comm = "";
	for( i=4 ; i<=NF ; i++ )
		comm = comm " " $i;
	print "if [ $inter -eq 1 ]\nthen";
	printf "\techo -n \"%s [%s] \"\n\tread %s\nfi\n",comm,$2,$1;
	printf "if [ $inter -ne 1 -o -z \"$%s\" ]\nthen\n\t%s=\"%s\"\nfi\n",$1,$1,$2;
	printf "echo \"%s\t$%s\t%s%s\">>\#$$.src\n",$1,$1,$3,comm;
	if( $3 != "#" ){
	    printf "if [ $%s -lt 1 ]\nthen\n\techo '/^%s\.o:.*/,/^$/d\n",$1,$3;
	    printf "/^\.\.\/dev\/%s\.c:.*/,/^$/d\ns/ %s\.o//g\n",$3,$3;
	    printf "s?\.\./dev/%s\.c??g' >> \#$$.m\nfi\n",$3;
	}
	if( $2 == "y" || $2 == "n" ){
	    printf "if [ $%s = \"y\" -o $%s = \"Y\" ]\nthen\n",$1,$1;
	    printf "\techo '#define %s\t/*%s */'>>\#$$.local\nelse\n",$1,comm;
	    printf "\techo '/* #define %s\t/*%s */'>>\#$$.local\nfi\n",$1,comm;
	}
}
